<aside class="sidebar">

  <div class="logo-section">
    <img src="logo.png">
    <h2 class="logo-text">SIP3D</h2>
  </div>

  <ul>
    <li>
      <a href="index.html">
        <i class="fas fa-chart-line"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li>
      <a href="kegiatan.html">
        <i class="fas fa-list"></i>
        <span>Data Kegiatan</span>
      </a>
    </li>

    <li>
      <a href="input.html">
        <i class="fas fa-plus-circle"></i>
        <span>Input Kegiatan</span>
      </a>
    </li>

    <li>
      <a href="dokumen.html">
        <i class="fas fa-folder-open"></i>
        <span>Dokumen Perda</span>
      </a>
    </li>

  </ul>

</aside>